@import '../../config/style-guide/colours.scss';

.DraftEditor-root {
  background: #f9f9f9;
}

/*
Giving the editor a oveflow
https://github.com/facebook/draft-js/issues/528
*/

.editor :global(.public-DraftEditor-content) {
  max-height: 75vh;
  overflow: auto;
  padding: 8px 16px;
  background-color: white;
}

/* Mobile devices */
@media (max-width: 768px) {

  .editor :global(.public-DraftEditor-content) {
    margin: 0 auto;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  max-width: 446px;
  width: 100%;
  background: white;
  font-weight: lighter;
  border-radius: 8px;
  transform: translate(-50%, -50%);
}

.header {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #293461;
  font-family: "openSans-ExtraBold, san-serif";
}

.closeModal {
  width: 14px;
  height: 14px;
  object-fit: contain;
  cursor: pointer;
  position: absolute;
  right: 30px;
}
.headingContainer {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.noteContainer {
  padding-top: 24px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  color: #293461;
  font-size: 14px;
  font-family: "openSans-Regular, sans-serif";
  line-height: 1.71;
  text-align: justify;
  overflow: auto;
}

.label {
  font-family: "openSans-SemiBold, sans-serif";
  font-size: 14px;
  line-height: 2.7;
  color: #293461;
}